<h1>You've accessed the secret!</h1>
<h3>Here is the meaning of life:</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/qBArMmngVH4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br>
<br>
<%= link_to "Go Back", :root %>
